.landingPageDiv {

    width:100%;
    text-align:center;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.horizontalFlex {
    margin-top: 140px;
    width: 90%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.bannerDiv {
    margin-top: 100px;
    width:100%;
    font-size: 100px;
    font-weight: 700;
    color: blue;
    text-align: center;
}

.bigPicDiv {
    width:80%;
    text-align: center;
    margin-top: 100px;
}