.App {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: absolute;
  top: 52px;
  bottom:0;
  background-color: white;
  /* background: rgb(77,182,217);
  background: linear-gradient(176deg, rgba(77,182,217,1) 0%, rgba(28,127,161,1) 49%, rgba(37,104,126,1) 100%);  */
}

.gameBoard {
  background-color: white;
  margin-top: 0px;
  border:1px solid black;
}

.footer {
  width: 100%;
  position: absolute;
  bottom:0;
  height: 12px;
  font-size: xx-small;
  color: goldenrod;
  text-align: right;
}

.puzzlePickerWrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:200px auto;
  width:100%;
}

.puzzlePickerDiv {
  width:220px;
  height: 350px;
  border-radius: 5px;
  margin:15px;
}

.puzzlePickerResultsLayout {
  display: inline-flex; 
  width: 100%;
  background-color: #f5fbfc;
  margin: 10px auto;
  flex-Wrap: wrap;
  justify-content: center; 
}

.nav-list {
  margin-top: 14px;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list-item {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color:white;
  margin-top: 14px;
}

.searchResultsImg {
  /* border: 2px solid rgb(245, 165, 16);
  border-radius: 5px; */
  /* -webkit-box-shadow: 5px 5px 5px 5px #AEAEAE; 
box-shadow: 5px 5px 5px 5px #AEAEAE; */
margin-bottom: 5px;
width: 100%;
height: 220px;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.referencePic {
  width: 250px;
  height: 250px;
  border:2px solid rgb(219, 212, 212);
  margin:0px auto;
}

.noDataDiv {
  width:50%;
  margin: 100px auto;
  text-align: center;
  font-size: xx-large;
  color: blue;
  font-weight: bold;
}

.searchHeader {
  width: 100%;
  background-color: #fffffff0;
  margin: 0px auto;
  position: fixed;
  top:60px;
  text-align: center;
  left: 50%;
transform: translateX(-50%);
}

.favoritesContainer {
  width: 100%;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  justify-content: space-around;
}

.contactIcons {
  display: inline;
}
